/* Add screen styles below */

body{
    background-color: #EAF7F8;
    color: #08415C;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-size: larger;
}

nav{
    position: sticky;
    top: 0;
    padding: 40px;
    display: flex;
    background-color: #aadce2;
    color: #EAF7F8;
    
    
}

#navCenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a{
    background-color: #598f9f;
    color:#EAF7F8;
    padding: 15px;
    margin: 20px;
}


img{
    background-color: #08415C;
    display: flex;
    width: 50%;
}

h1{
    text-align: center;
    padding: 2%;
}

.project{
    display: flex;
    padding: 3%;
    margin: 0%;
}

/**#text{
    flex: 1;
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0%;
}**/

div{
    flex: 1;
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0%;
}

#pic{
    flex: 1;
    margin: 0%;
    
}

@media screen and (max-width: 600px) {
    .project {
        display: block;
    }
}